@import "../../../styles/colors";
@import "../../../styles/themes";

.humidity-container {
    background-color: $surface;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
    padding-block: 1.7em;

    .humidity-progress-bar {
        padding-inline: 3em;
    }
}
