.hightlight-value {
    font-size: 4em;
    font-style: normal;
    font-weight: 700;
}

.hightlight-unit {
    font-family: Raleway;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 500;
}
