$white: #e7e7eb;
$vulcan: #100e1d;
$mirage: #1e213a;
$storm-gray: #6e707a;
$light-gray: #a09fb1;
$comet: #585676;
$haiti: #110e3c;
$paris-daisy: #ffec65;
$royal-blue: #3c47e9;
$shuttle-gray: #616475;
