@import "colors";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@500&display=swap");

$background: $vulcan;
$surface: $mirage;
$on-surface: $white;
$button-background: $storm-gray;
$main-font-family: "Raleway", sans-serif;
