@import "../../../styles/themes";
@import "../../../styles/colors";

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $white;
    padding: 0.6em 1em;
    min-width: 0px;

    svg {
        width: 1em;
        color: $shuttle-gray;
    }

    input {
        overflow: hidden;
        margin-left: 1em;
        font-size: 1em;
        height: 100%;
        border: none;
        flex: 1 0 0px;
        color: $white;
        background: none;
        text-overflow: ellipsis;

        &:focus {
            outline: none;
        }
    }
}
