.today-hightlights-items-container {
    text-align: center;
    display: grid;
    gap: calc(min(2vw, 48px));
    margin-top: calc(clamp(20px, 2vh, 2em));
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;

    @media (max-width: 768px) {
        gap: 48px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
